# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/

# Virtual environments
venv/
ENV/
.env
.venv
env/

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer directories
__pypackages__/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# OneDrive temp files
~$*

# Compiled Python files
*.pyc
